# Customize to your needs...
# 自動補完を有効にする
# コマンドの引数やパス名を途中まで入力して <Tab> を押すといい感じに補完してくれる
# 例： `cd path/to/<Tab>`, `ls -<Tab>`
autoload -U compinit
compinit

# 入力したコマンドが存在せず、かつディレクトリ名と一致するなら、ディレクトリに cd する
# 例： /usr/bin と入力すると /usr/bin ディレクトリに移動
setopt auto_cd

# ↑を設定すると、 .. とだけ入力したら1つ上のディレクトリに移動できるので……
# 2つ上、3つ上にも移動できるようにする
alias ...='cd ../..'
alias ....='cd ../../..'

# cd した先のディレクトリをディレクトリスタックに追加する
# ディレクトリスタックとは今までに行ったディレクトリの履歴のこと
# `cd +<Tab>` でディレクトリの履歴が表示され、そこに移動できる
setopt auto_pushd

# pushd したとき、ディレクトリがすでにスタックに含まれていればスタックに追加しない
setopt pushd_ignore_dups

# 入力したコマンドがすでにコマンド履歴に含まれる場合、履歴から古いほうのコマンドを削除する
# コマンド履歴とは今まで入力したコマンドの一覧のことで、上下キーでたどれる
setopt hist_ignore_all_dups

# ----------------------
# Command Aliases
# ----------------------
alias ls='eza'
alias cat="bat"
alias ps='procs'
alias cd='z'
alias grep='rg'

alias k="kubectl"
alias g='git'
{{ if (eq .chezmoi.username "naoya.shimizu") }}
alias gsd='git switch develop'
alias gpl='git pull'
{{ end }}

# peco
function peco-history-selection() {
  BUFFER=$(history -n 1 | tail -r | awk '!a[$0]++' | peco)
  CURSOR=$#BUFFER
  zle reset-prompt
}
zle -N peco-history-selection
bindkey '^R' peco-history-selection

# github cli
eval "$(gh completion -s zsh)"

# zoxide
eval "$(zoxide init zsh)"

# starship
eval "$(starship init zsh)"

{{ if (eq .chezmoi.username "naoya.shimizu") }}
# secretive
export SSH_AUTH_SOCK=/Users/naoya.shimizu/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh
{{ end }}

# Go
export PATH=$PATH:$(go env GOPATH)/bin

# warp subshell(https://docs.warp.dev/features/subshells#automatically-warpify-subshells)
printf '\eP$f{"hook": "SourcedRcFileForWarp", "value": { "shell": "zsh"}}\x9c'

{{ if (eq .chezmoi.username "naoya7076") }}
# mise
eval "$(mise activate zsh)"
{{ end }}

# direnv
eval "$(direnv hook zsh)"

# volta
export VOLTA_FEATURE_PNPM=1
export VOLTA_HOME="$HOME/.volta"
export PATH="$VOLTA_HOME/bin:$PATH"
