cask_args appdir: "/Applications"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "nikitabobko/tap"

brew "bat"
brew "chezmoi"
brew "curl"
brew "difftastic"
brew "direnv"
brew "eza"
brew "fzf"
brew "gh"
brew "ghq"
brew "git"
tap "steipete/tap"
brew "gogcli"
brew "jnv"
brew "jq"
brew "lazygit"
brew "mysql"
brew "peco"
brew "procs"
brew "ripgrep"
brew "sheldon"
brew "starship"
brew "tmux"
brew "tree"
brew "uv"
brew "wget"
brew "yarn"
brew "yq"
brew "zoxide"

cask "aqua-voice"
cask "nikitabobko/tap/aerospace"
cask "cleanshot"
cask "linear-linear"
cask "lookaway"
cask "docker-desktop"
cask "font-moralerspace"
cask "font-0xproto-nerd-font"
cask "jordanbaird-ice"
cask "obsidian"
cask "raycast"
cask "slack"
cask "warp"
cask "visual-studio-code"
cask "font-ricty-diminished"
cask "spotify"
cask "zed"

{{ if (eq .chezmoi.username "naoya7076") }}
brew "pnpm"
brew "mise"
brew "volta"

cask "android-file-transfer"
cask "thebrowsercompany-dia"
cask "claude"
cask "cursor"
cask "discord"
cask "heptabase"
cask "raindropio"
cask "voiceink"
{{ end }}

{{ if (eq .chezmoi.username "naoya.shimizu") }}
brew "mise"

cask "gather"
cask "keeper-password-manager"
cask "lookaway"
cask "proxyman"
cask "secretive"
cask "tableplus"
cask "session-manager-plugin"

brew "aws/tap/copilot-cli"
brew "broot"
brew "cloc"
brew "deck"
brew "go-task"
brew "graphviz"
brew "libpq", link: true
brew "mysql-client"
brew "golang-migrate"
tap "getsentry/tools"
brew "pinact"
brew "sentry"
brew "silicon"
brew "Songmu/tap/laminate"
tap "supabase/tap"
brew "supabase"
brew "tfenv"
brew "trufflehog"
brew "lefthook"
brew "lychee"
brew "vercel-cli"
{{ end }}
