cask_args appdir: "/Applications"
tap "homebrew/bundle"
{{ if (eq .chezmoi.hostname "shimizu-naoya") }}
tap "hashicorp/tap"
tap "versent/taps"
{{ end }}

brew "act"
brew "anyenv"
brew "asdf"
brew "awscli", link: false
brew "bat"
brew "chezmoi"
brew "curl"
brew "exa"
brew "gh"
brew "git"
brew "git-secrets"
brew "grpcurl"
brew "jq"
brew "peco"
brew "python@3.10"
brew "starship"
brew "wget"
brew "yarn"
brew "yq"
{{ if (eq .chezmoi.hostname "shimizu-naoya") }}
brew "hashicorp/tap/terraform", link: false
brew "saml2aws"
brew "argocd"
brew "sops"
brew "bitwarden-cli"
{{ end }}

cask "chromedriver"
cask "raycast"
cask "warp"
cask "slack"
cask "visual-studio-code"
{{ if (eq .chezmoi.hostname "shimizu-naoya") }}
cask "docker"
cask "appium"
cask "appium-inspector"
cask "tableplus"
cask "skitch"
{{ end }}
